/* banner */
.case-block-1 {
    position: relative;
    width: 100%;
    height: 265px;
    padding-top: 50px;
    overflow: hidden;
    /* background: #004569; */
    background: linear-gradient(90deg, #01445A 0%, #004569 86%);;
    
}
.back-mask{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background: url(../img/bg1.png) no-repeat center;
    background-size:1050px 100%;
    animation: flipInY 1s linear;
}  
.case-banner{
    display:table;
    height: 100%;
}
.case-title {
    height: 100%;
    line-height: 215px;
    color:#fff;
    vertical-align: middle;
    animation: bounceInDown 1s linear;
}
.case-title h3{
    font-size: 36px;
}
.case-title p{
    font-size: 14px;
    color: #E9EBED;
}

.news-block-2{
    width: 100%;
    margin:20px 0 0 0;
}
.news-block-3{
    display: none;
}
.news-back{
    position: relative;
    width: 1120px;
    margin:0 auto 70px;
    overflow: hidden;
    cursor: pointer;
}
.news-back img{
    width: 100%;
}
.news-title-hover{
    font-size: 20px;
    color: #444;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:75%;
}
.author-time{
    font-size: 14px;
    color: #05283f;
    min-height: 19px;
}
.news-title-bottom{
    width: 100%;
    height: 80px;
    line-height: 80px;
    padding: 0 35px;
}
.news-back a{
    text-decoration: none;
    color:#fff;
}
/* 导航分类结束 */
.author-time span{
    font-size: 14px;
    color:#b1b1b1;
}
/*两个新闻样式*/
.news-basic {
    width: 100%;
    padding: 10px;
    overflow: hidden;
}
/* 改版新闻 */
.news-left-margin{
    margin:40px 0 0 -50px;
}
.newsLists{
    width:100%;
    color:#444;
    margin-bottom: 20px;
}
.newsLists li{
    float: left;
    width: 33.3333333%;
    cursor: pointer;
}
.news-item{
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    margin:0 0 30px 50px;
}
.imgUrl{
    width: 100%;
    height: 220px;
    overflow: hidden;
}
.news-title{
    height: 40px;
    line-height: 20px;
    font-size: 14px;
    word-break: keep-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    color: #05283F;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
/* 导航锚点 */
.nav-anchor{
    width: 100%;
    height: 46px;
    background: rgba(0, 55, 84, .96);
}
.nav-anchor.isFixed {
    position: fixed;
    top: 50px;
    z-index: 9;
    width: 100%;
}
.nav-anchor-ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-anchor-ul li{
    float: left;
    font-size: 14px;
    /* min-width: 96px; */
    line-height: 44px;
    margin-right: 20px;
    padding:0 25px;
    color: #B0B5B9;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
.nav-anchor-ul li:last-child{
    margin-right: 0;
}
.nav-anchor-ul li.active{
    color:#009AC9;
    border-bottom: 2px solid#009AC9;
}

.new-nav{
    display: flex;
    align-items: center;
}
.nav-type{
    width: 88%;
}
.news-container .nav-type li {
    padding: 0 25px;
    width: auto !important;
    height: 46px;
    line-height: 46px;
    color: #b0b5b9;
    cursor: pointer;
}
.news-container .nav-type li.active {
    color: #009ac9;
    border-bottom: 2px solid#009AC9;
}
.news-search{
    width: 10%;
    margin-left: 2%;
}

.news-block-3{
    padding:45px 0 10px;
    background: #004569;
}